langchain
langchain-community
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain_google_genai
google-generativeai
mistralai
langchain-openai
langchain_chroma
chromadb
faiss-cpu
langchain-groq
streamlit
fastapi
uvicorn
python-multipart